a.logo {

    font-size: 22px;

    font-weight: 300;

    color: #fed189;

    float: center;

    margin-top: 15px;

    text-transform: uppercase;

}



a.logo:hover, a.logo:focus {

    text-decoration: none;

    outline: none;

}



a.logo span {

    color: #e9347f;

}
